<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Recipedia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/recipes">
            <i class="fas fa-home-alt"></i>&nbsp;Recipes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="my-recipes">
            <i class="fas fa-book-open"></i>&nbsp;My recipes
          </a>
        </li>
      </ul>
      <form class="d-flex gap-2 align-items-center" role="search">
        <input class="form-control" type="search" placeholder="Find a recipe" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
        <div class="dropdown d-flex gap-1 align-items-center">
          <button class="btn btn-plain" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ currentUser.firstname }}
          </button>
          <img [src]="profilePicture" width="40px" height="40px"
               class="rounded-2" style="cursor: pointer;" loading="eager"
               id="imgDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="...">
          <ul class="dropdown-menu">
            <li><a class="dropdown-item pointer-event" style="cursor: pointer;" (click)="manageAccount()">Manage account</a></li>
          </ul>
        </div>
        <button class="btn btn-link" type="submit" (click)="logout()"><i class="fas fa-door-open"></i></button>
      </form>
    </div>
  </div>
</nav>
