<div class="card"
     style="width: 20rem;"
>
  <img (click)='toDetails()' height="200px" [src]="recipeCover" class="card-img-top" alt="...">
  <div (click)='toDetails()' class="card-body overflow-scroll">
    <h5 class="card-title fs-6 text-nowrap fw-bold mb-1"><i class="fa-solid fa-pen"></i>&nbsp;{{ recipe.title }}</h5>
    <hr>
    <p class="card-text">{{ recipe.description }}</p>
  </div>
  <div class="card-footer d-flex gap-2 justify-content-between align-items-center">
    <div class="d-flex gap-2">
      <recipedia-rating [rating]="recipe.rate || 0"></recipedia-rating>
      <span class="fw-bold" *ngIf="recipe.rate || 0 > 0">{{ recipe.rate }}</span>
    </div>
    <div class="d-flex gap-2" *ngIf="manageable">
      <i (click)="onEdit()" class="fas fa-edit text-success"></i>
      <i (click)="onDelete()" class="fas fa-trash-can text-danger"></i>
    </div>
  </div>
</div>
